img {
    width: 150px;
    height: 200px;
    margin: 5px;
    border-radius:25px;
}

.default{
    border: 2px solid white
}

.selected{
    border: 2px solid #333333
}

.valid{
    border: 2px solid #76d500
}

.invalid{
    border: 2px solid red
}

.win{
    border: 2px solid orange
}

.history{
    border: 0px solid white
}

body{
    background-color: #e5ded7;
}

h1{
    font-size: 60px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.gamestate{
    display: flex;
    justify-content: space-around;
}

.firstcolumn{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
}

.buttons {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

button{
    background-color: white;
    border: 3px solid white;
    width: 200px;
    height: 75px;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.gameInfo{
    font-size: 26px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 400;
}

.topscore {
    width: 400px;
    height: 180px;
    text-align: left;
    font-size: 24px;
    font-family: 'Josefin sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

/*
    Styling for tabs taken from: https://www.w3schools.com/howto/howto_js_tabs.asp
*/
.tab {
    overflow: hidden;
    border: 1px solid red;
    background-color: aqua;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tab button:hover{
    background-color: aquamarine;
}

.tab button.active{
    background-color: yellow;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid green;
    border-top: none;
}

.secondcolumn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.thirdcolumn{
    visibility: hidden;
    width: 400px;

}

.sethistory{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    width: 200px;
    height: 620px;
    background-color: #efeae6;
    overflow: auto;
}

.previousset{
    height: 85px;
    width: 62px;
    margin-right: 0px;
    border-radius: 12px;
}

.previouscolumn{
    padding: 0px;
}

.previousrow{
    display:flex;
    justify-content:center;
}

/*
    Styling for modal box taken from: https://sabe.io/tutorials/how-to-create-modal-popup-box
*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    overflow: auto;
}

.modal-content {
    margin: 10% auto;
    background-color: white;
    padding: 10px;
    width: 50%;
    border-radius: 0.5rem;
    font-family: 'Open sans', sans-serif;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

    .close-button:hover {
        background-color: darkgray;
    }

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.row{
    display:flex;
}

.column{
    padding: 5px;
}

@media only screen and (min-width:1201px) and (max-width:1400px) {
    h1{
        margin-top: 5px;
    }
    .thirdcolumn {
        visibility: visible;
        width: 25%;
    }

    .sethistory {
        height: 400px;
    }

    .modal-content{
        width: 75%;
    }
    img{
        width: 90px;
        height: 125px;
    }
    .gamestate {
        flex-direction: row;
    }

    .firstcolumn {
        height: 400px;
        width: 25%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .time {
        order: 1;
        text-align: center;
    }

    .topscore{
        order: 3;
        width: 100%;
    }

    .board{
        width: 100%;
        margin-bottom: 10px;
    }
    .secondcolumn{
        display: flex;
        align-items: center;
        width: 37%;
    }
    .deckCount{
        order: 2;
    }
    button {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
}

@-ms-viewport{
    width:device-width;
}

@media only screen and (max-width:1200px) {
    .modal-content{
        width: 75%;
    }

    h1{
        font-size: 80px;
    }

    img{
        width: 20%;
        height: 40%;
        border-radius: 35px;
    }
    .gamestate {
        flex-direction: column-reverse;
    }

    .firstcolumn {
        align-items: center;
        height: 300px;
        margin-left:0px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 40%;
        margin-bottom: 100px;
        margin-top: 60px;
        order: 2;
    }

    .time {
        order: 1;
        text-align: center;
    }

    .gameInfo {
        font-size: 40px;
    }

    .topscore{
        order: 3;
    }

    .thirdcolumn {
        display: none;
    }

    .board{
        width: 100%;
        margin-bottom: 60px;
    }
    .secondcolumn{
        display: flex;
        align-items: center;
        order: 1;
        width: 100%;
    }
    .deckCount{
        order: 2;
    }
    button {
        width: 33%;
        height: 100px;
        font-size: 24px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .topscore{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .guidecard{
        width: 80px;
        height: 120px;
        border-radius: 25px;
    }
}
