img {
    width: 150px;
    height: 200px;
    margin: 5px;
}

.image{
    border: 3px solid #cccccc
}

.selected{
    border: 3px solid #333333
}

.valid{
    border: 3px solid #76d500
}

.invalid{
    border: 3px solid red
}

.board{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
